/* Global Styles */
body {
    text-align: center;
    font-family: "Arial", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  h1 {
    color: #007bff;
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  /* Canvas Styles */
  canvas {
    border: 2px solid #555;
    background-color: #eee;
    margin: 20px auto;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Alert Styles */
  .alert {
    padding: 10px;
    margin: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
  }
  
  .alert-success {
    background-color: #28a745;
  }
  
  .alert-danger {
    background-color: #dc3545;
  }
  
  /* Button Styles */
  .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  